#logo img {
    height: 30px;
}

#navbar ul li a {
    font-size: 13px;
    padding: 1px 11px;
}
#navbar::before {
    /* content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1; */
    opacity: 0.35;
}


#home {
padding: 60px;  
    height: 242px;

}

#home::before {
    height: 500px;
}

#home p {
    font-size: 13px;
}

.h-primary {
    font-size: 18px;
}
.h-secondary{
    font-size: 15px;
}

#home h1 {
    font-size: 22px;
}

#services {
    flex-direction: column;

}

.services-container {
    font-size: 12px;
    padding: 11px 11px;

}
#services .box img {
    height: 90px;
}
#services .box p {
    font-size: 15px;
}

#clients {
   flex-wrap: wrap;
}
#clients img {
   width: 140px;
   padding: 0px 4px;
}
.client-item {
    padding: 19px;
}

#navbar {
    flex-direction: column;

}
.thumbnail img{
    height: 109px;
    width: 188px;
}
.text-big {
    font-size: 20px;

}

.text-small {
    font-size: 20px;
}
